.students-container {
    background: linear-gradient(90deg, rgba(12, 192, 223, 1) 0%, rgba(255, 222, 89, 1) 100%);
    height: 150vh;
    margin: 0;
}

.students-main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    text-align: center;
}

.students-title {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

.students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
}

.student-card {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 280px;
}

.student-card p {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

.student-card input {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ver-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #fbbc4b;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* .nova-leitura-button {
    padding: 12px 25px;
    background-color: #fbbc4b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
} */

.nova-leitura-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fbbc4b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.read-header {
    background-color: #48908e;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 18px;
    margin: 0 auto;
}

.logo-goreader, .logo-oci {
    height: 50px;
}
